{% extends 'adminlte/base.html' %}

{% block content %}
  <h1>{{ object }}</h1>
  <p>Date: {{ object.date }}</p>
  <p>Dealer: {{ object.dealer }}</p>
  <p>Supplier: {{ object.supplier }}</p>
  <p>Type: {{ object.transaction_type }}</p>
  <p>Created by: {{ object.created_by }}</p>

  <h2>Transaction Lines</h2>
  <ul>
    {% for line in object.transactionline_set.all %}
      <li>{{ line.product }} - Quantity: {{ line.quantity }}, Price: {{ line.price }}</li>
    {% empty %}
      <li>No transaction lines yet.</li>
    {% endfor %}
  </ul>
{% endblock %}
