{% extends 'adminlte/base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
        <div class="card">
          <div class="card-header">
            <a href="{% url 'catalogue:category_list' %}" class="btn btn-primary btn-sm pull-right">Back to List</a>
            <h3 class="card-title">Update Category</h3>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}

              <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Name:</label>
                {{ form.name }}
              </div>

              <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description:</label>
                <input type="text" name="{{ form.description.name }}" id="{{ form.description.id_for_label }}"
                       class="form-control" value="{{ category.description }}">
              </div>

              <input type="hidden" name="id" value="{{ category.id }}">
              <button type="submit"class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

